extends layout

block content
  h1= title
  p Welcome to Your Web Application

    //Remove the follwoing comments and tigger the CI\CD pipeline (Make sure to ident correctly)
  <style> h3 { color: #00B56C; } </style>
  h3 This application was deployed using CI\CD (docker pipeline) by Jenkins
